__pycache__
.history
.hypothesis/
build/
reports/
.env

# Certora
.certora*
.last_confs
certora_*
.env
yarn.lock
*test*
certora/openzeppelin/**/*.js*
certora/openzeppelin/**/*.ts*
certora/openzeppelin/**/LICENSE